@import url('https://fonts.googleapis.com/css?family=Kumar+One&display=swap');

.Card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline-offset: -32px;
  outline: 5px solid rgba(255,0,0,0.04);

  // Target child elements
  * { z-index: 1; }

  video {
    max-width: 66%;
  }

  p {
    color: rbga(0,0,0,0.87);
    font-family: 'Kumar One', cursive;
    font-size: calc(1rem + 2vmin);
    line-height: 1.5;
  }

  button {
    background-color: rgba(76,175,80,1);
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      background-color: rgba(62,143,64,1);
    }
  }
}